+global-reset

html
  background: $color__white

body
  color: $color__gray
  font-family: "HelveticaNeue", "Helvetica Neue", "HelveticaNeueRoman", "HelveticaNeue-Roman", "Helvetica Neue Roman", "Helvetica", "Arial", sans-serif
  font-size: 14px
  a
    +link-colors($link-color, $link-color__hover, $link-color__focus, $link-color__active, $link-color__visited)

