$b: 'search'

.#{$b}
  position: relative

.#{$b}__field
  display: block
  width: 210px
  padding: 6px
  border: 1px solid $color__gray
  outline: none
  +border-radius(5px)
  background: $color__white
.#{$b}__button
  display: block
  width: 22px
  height: 22px
  position: absolute
  top: 3px
  left: 233px
  border: none
  background-image: image-url('/widgets/search.png')
  background-image: inline-image('/widgets/search.png')
  background-color: $color__white
  cursor: pointer

.#{$b}--summary
  margin-bottom: 7px

.#{$b}--state
  margin-bottom: 17px
  .#{$b}__button
    cursor: none

\:-moz-placeholder, \::-moz-placeholder, \:-ms-input-placeholder
  color: $color__light
\:-moz-placeholder
  color: $color__light
\::-moz-placeholder
  color: $color__light
\:-ms-input-placeholder
  color: $color__light
