$b: 'widget'

.#{$b}
  padding: 10px
  font-family: "HelveticaNeue", "Helvetica Neue", "HelveticaNeueRoman", "HelveticaNeue-Roman", "Helvetica Neue Roman", 'TeXGyreHerosRegular', "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif
  -webkit-font-smoothing: antialiased
  text-rendering: optimizeLegibility

.#{$b}__inner
  padding: 10px
  border: $color__gray 1px solid

.#{$b}__header
  position: relative
  margin-bottom: 17px
  font-size: 15px

.#{$b}__header-logo
  width: 81px
  height: 23px
  position: absolute
  top: -4px
  right: 8px
  background-color: $color__white
  background-repeat: no-repeat
  background-position: 0 0
  background-image: image-url('/widgets/logo.png')
  background-image: inline-image('/widgets/logo.png')
  +indent

.#{$b}__credits
  margin-top: -7px
  color: $color__light
  font-size: $font-size--micro
  text-align: right
