$color__white        : #FFF
$color__dark         : #333333
$color__gray         : #a9a9a9
$color__light        : #777777

$font-family         : "HelveticaNeue", "Helvetica Neue", "HelveticaNeueRoman", "HelveticaNeue-Roman", "Helvetica Neue Roman", "Helvetica", "Arial", sans-serif
$font-color          : $color__gray
$font-size--normal   : 15px
$font-size--middle   : 17px
$font-size--big      : 18px
$font-size--less     : 13px
$font-size--small    : 12px
$font-size--micro    : 11px

$link-color          : $color__gray
$link-color__hover   : $link-color
$link-color__focus   : $link-color
$link-color__active  : $link-color
$link-color__visited : $link-color
