- if newspapers.size > 1
  .summary__arrows role='summary__arrows'
    i.summary__arrows-item.summary__arrows-item--up title='Scroll up' data-direction='up' data-target="#{newspapers.last.id}"
    i.summary__arrows-item.summary__arrows-item--down title='Scroll down' data-direction='down' data-target="#{newspapers[1].id}"
