form action='http://trove.nla.gov.au/newspaper/result' target='_blank'
  input type='text' name='q' placeholder="#{placeholder}" class='search__field'
  input type='hidden' name="#{hidden_name}" value="#{hidden_value}"
  button type='submit' class='search__button'
