h2 Summary widgets

h3 A widget for a single newspaper
script type='text/javascript' src='/assets/application.js' role='trove-widget' data-type='summary' data-ids='35'

h3 A widget for multiple newspapers
script type='text/javascript' src='/assets/application.js' role='trove-widget' data-type='summary' data-ids='36,37,38'

h3 A widget to show top-level newspaper information for a particular state
script type='text/javascript' src='/assets/application.js' role='trove-widget' data-type='summary' data-state='sa'

h3 Multiple newspaper search widget

h2 Title navigator widget

script type='text/javascript' src='/assets/application.js' role='trove-widget' data-type='navigator' data-state='vic'
