+global-reset

html
  background: #FFF

body
  color: #a9a9a9
  font-family: Arial, sans-serif
  font-size: 14px
  a
    +link-colors($link-color, $link-color__hover, $link-color__focus, $link-color__active, $link-color__visited)

