$b: 'summary'

.#{$b}
  height: 118px
  overflow: hidden
  position: relative

h1.#{$b}__title
  +title($font-size--big, bold)
p.#{$b}__years
  margin-bottom: 10px
p.#{$b}__stats
  margin-bottom: 10px
  line-height: 17px
  font-size: $font-size--less
  color: $color__light

.#{$b}__search
  position: relative
.#{$b}__search-field
  display: block
  width: 210px
  padding: 6px
  border: 1px solid $color__dark
  outline: none
  +border-radius(5px)
.#{$b}__search-button
  display: block
  width: 22px
  height: 22px
  position: absolute
  top: 3px
  left: 233px
  border: none
  background-image: image-url('/widgets/search.png')
  background-image: inline-image('/widgets/search.png')
  cursor: pointer
