@mixin title($font-size, $font-weight)
  font-size: $font-size
  font-weight: $font-weight
  color: #666
  margin-bottom: 17px
  a
    color: #666
    text-decoration: none
    &:hover
      text-decoration: underline
